<div id="file-upload-wrapper">

    <input
        type="file"
        (change)="onFileSelected($event)"
        [accept]="acceptedFileTypes"
        #fileUpload
        required
        hidden>

    <div id="file-upload">

        
        <button id="upload-btn" (click)="fileUpload.click()">
            <mat-icon>upload</mat-icon>
            <strong>Upload File</strong>
        </button>
        
        <em>{{ fileName || "No file chosen."}}</em>

    </div>

    <input
        class="text-col-input"
        type="text"
        placeholder="Text field name"
        [(ngModel)]="textColumnName">

    <button type="button" id="submit-btn" (click)="onSubmit($event)"> Submit </button>

</div>

@if(fileUploadProgress != null){
    <mat-icon class="cancel-upload"
    (click)="cancelUpload()">delete_forever
</mat-icon>

<progress-spinner [progressValue]="fileUploadProgress"></progress-spinner>

}
