<div id="file-upload-wrapper">

    <input
        type="file"
        (change)="onFileSelected($event)"
        [accept]="acceptedFileTypes"
        #fileUpload
        hidden>

    <div id="file-upload">
        
        <button id="upload-btn" (click)="fileUpload.click()">
            <mat-icon>upload</mat-icon>
            <strong>Upload File</strong>
        </button>
        
        <em>{{ fileName || "No file chosen."}}</em>

        <!-- Add "Remove file" button that clears the chosen file -->

    </div>

    <input
        id="text-col-input"
        type="text"
        name="textFieldName"
        placeholder="Text field name"
        spellcheck="false"
        [(ngModel)]="textFieldName">

    <button 
        type="button" 
        id="submit-btn" 
        [disabled]="!formIsValid()"
        (click)="onSubmit($event)"
        [title]="!formIsValid() ? 'Form fields required' : ''"> 
        Submit
    </button>
    
    @if(fileUploadProgress != null){
        <mat-icon class="cancel-upload"
            (click)="cancelUpload()">delete_forever
        </mat-icon>
        
        <progress-spinner [progressValue]="fileUploadProgress"></progress-spinner>
    }
</div>

