#file-upload-wrapper {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 200px;
}

.upload-btn {
    background-color: lightblue;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;

    &:hover {
        box-shadow: 2px 2px 1px 1px #2c6e81
    }

    &:active {
        border: none;
        box-shadow: none
    }
}