<div id="file-upload-wrapper">

    <input
        type="file"
        (change)="onFileSelected($event)"
        [accept]="acceptedFileTypes"
        #fileUpload
        hidden>

    <div class="file-upload">

        {{ fileName || "No file uploaded yet."}}

        <button class="upload-btn"
            (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>

    </div>

    <input
        class="text-col-input"
        type="text"
        placeholder="Text column name"
        [(ngModel)]="textColumnName">

    <button type="button" (click)="onSubmit()"> Submit </button>

</div>

<div class="progress">

    @if(fileUploadProgress){

    <mat-progress-spinner
        mode="determinate"
        [value]="fileUploadProgress">

    </mat-progress-spinner>

    <mat-icon class="cancel-upload"
        (click)="cancelUpload()">delete_forever
    </mat-icon>
    }

</div>